<!-- ギフト情報 -->
<section class="ab-bg-rest-primary ab-rounded-md ab-border ab-p-4 ab-w-full">
  <%= link_to new_egift_stores_order_path(item_id: @item.id), class: "ab-LinkText ab-LinkText-quiet" do %>
    <div class="ab-flex ab-flex-row">
      <div>
        <% if @item.image.attached? %>
          <%= image_tag @item.image, alt: @item.name, class: "ab-w-192 ab-h-192" %>
        <% else %>
          <span class="ab-text-body-m">画像なし</span>
        <% end %>
      </div>
      <div class="ab-flex ab-flex-column ab-mx-8 ab-my-4">
        <h1 class="ab-text-headline-l ab-wb-break-all ab-mb-4"><%= @item.name %></h1>
        <% if @item.description.present? %>
          <span class="ab-text-body-m ab-wb-break-all ab-mb-4"><%= @item.description %></span>
        <% end %>
        <span class="ab-text-body-m ab-font-bold ab-mb-8"><%= number_with_delimiter(@item.price) %>円</span>
      </div>
    </div>
  <% end %>
</section>

<!-- ボタン -->
<section class="ab-flex ab-flex-row ab-flex-1 ab-gap-4 ab-my-12">
  <%= link_to "ギフト選択に戻る", egift_stores_root_path, class: "ab-Button-outlined ab-w-full ab-text-center" %>

  <%= form_with url: egift_stores_orders_path, method: :post, local: true, class: "ab-w-full" do |form| %>
    <%= form.hidden_field :item_id, value: @item.id %>
    <%= form.submit "今すぐ購入してギフトを贈る", class: "ab-Button ab-w-full ab-text-center" %>
  <% end %>
</section> 
