<section class="ab-bg-rest-primary ab-rounded-lg ab-p-8 ab-m-8 ab-w-full" style="max-width: 600px;">
  <h1 class="ab-text-headline-l ab-font-bold ab-text-center ab-mt-4 ab-mb-12">eGift 管理画面</h1>

  <%= form_with scope: :session, url: admins_sessions_path do |f| %>
    <%= render 'layouts/admins/flash_message', errors: [] %>
    <fieldset class="ab-Fieldset">
      <div class="ab-Fieldset-content ab-mb-4">
        <%= f.text_field :email, class: "ab-Textfield-input", placeholder: "メールアドレス" %>
      </div>
      <div class="ab-Fieldset-content ab-mb-6">
        <%= f.password_field :password, class: "ab-Textfield-input", placeholder: "パスワード" %>
      </div>
      <div class="ab-Fieldset-content ab-mb-4">
        <%= f.submit "ログイン", class: "ab-Button ab-w-full ab-text-center" %>
      </div>
    </fieldset>
  <% end %>
</section>
