<%= form_with(model: [:admins, @item], local: true, html: { multipart: true }) do |form| %>
  <%= render 'admins/shared/flash_message', errors: @item.errors %>
  
  <div class="ab-mb-4">
    <%= form.label :name, "商品名", class: "ab-Textfield-label" %>
    <%= form.text_field :name, maxlength: Item::NAME_MAX_LENGTH, class: "ab-Textfield-input" %>
  </div>

  <div class="ab-mb-4">
    <%= form.label :price, "価格", class: "ab-Textfield-label" %>
    <%= form.number_field :price, step: 1, min: 1, class: "ab-Textfield-input" %>
  </div>

  <div class="ab-mb-4">
    <%= form.label :description, "商品説明", class: "ab-Textfield-label" %>
    <%= form.text_area :description, maxlength: Item::DESCRIPTION_MAX_LENGTH, class: "ab-Textfield-input ab-h-72" %>
  </div>

  <div class="ab-mb-4">
    <%= form.label :image, "商品画像", class: "ab-Textfield-label" %>
    <%= form.file_field :image, accept: "image/*", class: "ab-Textfield-input", id: "item_image", onchange: "handleImagePreview(this)" %>
    
    <!-- プレビュー画像 -->
    <%= image_tag @item.image.attached? ? url_for(@item.image) : "", id: "selectedImagePreview", class: "ab-w-160 ab-h-160 ab-mt-2" %>
  </div>

  <div>
    <%= form.submit @item.persisted? ? "更新" : "作成", class: "ab-Button" %>
    <%= link_to "戻る", admins_items_path, class: "ab-Button-neutral" %>
  </div>
<% end %>

<script>
  function handleImagePreview(input) {
    const file = input.files[0];
    const selectedImagePreview = document.getElementById("selectedImagePreview");
    selectedImagePreview.src = file ? URL.createObjectURL(file) : "";
  }
</script> 
