<% content_for :page_title, "商品管理" %>

<% content_for :page_actions do %>
  <%= link_to "新規作成", new_admins_item_path, class: "ab-Button" %>
<% end %>

<% if @items.any? %>
  <table class="ab-Table">
    <thead class="ab-Table-head">
      <tr>
        <th class="ab-Table-head-cell">商品画像</th>
        <th class="ab-Table-head-cell">商品名</th>
        <th class="ab-Table-head-cell">価格</th>
        <th class="ab-Table-head-cell">ステータス</th>
        <th class="ab-Table-head-cell"></th>
        <th class="ab-Table-head-cell">作成日時</th>
        <th class="ab-Table-head-cell"></th>
      </tr>
    </thead>
    <tbody class="ab-Table-body">
      <% @items.each do |item| %>
        <tr class="ab-Table-body-row">
          <td class="ab-Table-cell">
            <%= link_to admins_item_path(item) do %>
              <%= image_tag item.image.variant(resize_to_limit: [80, 80]), alt: item.name %>
            <% end %>
          </td>
          <td class="ab-Table-cell"><%= link_to item.name, admins_item_path(item) %></td>
          <td class="ab-Table-cell"><%= format_price(item.price) %></td>
          <td class="ab-Table-cell <%= item.status? ? "ab-text-positive" : "ab-text-notice" %>"><%= item.status? ? "公開中" : "非公開中" %></td>
          <td class="ab-Table-cell">
            <%= link_to (item.status? ? "非公開にする" : "公開する"),
                  status_admins_item_path(item),
                  data: { turbo_method: :put, turbo_confirm: "公開・非公開を変更しますか？" },
                  class: "ab-Button ab-Button-xsmall" %>
          </td>          
          <td class="ab-Table-cell"><%= item.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
          <td class="ab-Table-cell">
            <%= link_to "詳細", admins_item_path(item), class: "ab-Button-neutral" %>
            <%= link_to "編集", edit_admins_item_path(item), class: "ab-Button-outlined" %>
            <%= link_to "削除", admins_item_path(item), 
                data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }, 
                class: "ab-Button-negative" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="ab-mt-4">まだ商品が登録されていません。</p>
<% end %>
