<% content_for :page_title, "商品詳細" %>

<% content_for :page_actions do %>
  <%= link_to "一覧に戻る", admins_items_path, class: "ab-Button-neutral" %>
  <%= link_to "編集", edit_admins_item_path(@item), class: "ab-Button-outlined" %>
  <%= link_to "削除", admins_item_path(@item), 
      data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }, 
      class: "ab-Button-negative" %>
<% end %>

<table class="ab-Table">
  <tbody class="ab-Table-body">
    <tr class="ab-Table-body-row">
      <td class="ab-Table-head-cell">商品画像</td>
      <td class="ab-Table-cell">
        <%= image_tag @item.image, class: "ab-w-160 ab-h-160" %>
      </td>
    </tr>
    <tr class="ab-Table-body-row">
      <td class="ab-Table-head-cell">商品名</td>
      <td class="ab-Table-cell"><%= @item.name %></td>
    </tr>
    <tr class="ab-Table-body-row">
      <td class="ab-Table-head-cell">価格</td>
      <td class="ab-Table-cell"><%= format_price(@item.price) %></td>
    </tr>
    <tr class="ab-Table-body-row">
      <td class="ab-Table-head-cell">商品説明</td>
      <td class="ab-Table-cell">
        <% if @item.description.present? %>
          <%= simple_format(@item.description) %>
        <% end %>
      </td>
    </tr>
    <tr class="ab-Table-body-row">
      <td class="ab-Table-head-cell">作成日時</td>
      <td class="ab-Table-cell"><%= @item.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
    </tr>
    <tr class="ab-Table-body-row">
      <td class="ab-Table-head-cell">最終更新日時</td>
      <td class="ab-Table-cell"><%= @item.updated_at.strftime("%Y年%m月%d日 %H:%M") %></td>
    </tr>
  </tbody>
</table>
