<nav class="navbar egifts-header fixed-top">
  <div class="container">
    <%= link_to "eGift System", egifts_root_path, class: "navbar-brand text-white fw-bold fs-2" %>
    
    <ul class="navbar-nav d-flex flex-row ms-auto">
      <li class="nav-item me-3">
        <%= link_to "eGift ホーム", egifts_root_path, class: "nav-link text-white fw-bold" %>
      </li>
      <li class="nav-item me-3">
        <%= link_to "FAQ", "#", class: "nav-link text-white fw-bold" %>
      </li>
      <li class="nav-item me-3">
        <%= link_to "購入履歴", "#", class: "nav-link text-white fw-bold" %>
      </li>
      <li class="nav-item">
        <%= link_to "法人のお客様", "https://giftee.biz/inquiry/", class: "nav-link text-white fw-bold" %>
      </li>
    </ul>
  </div>
</nav>
