<!DOCTYPE html>
<html>
  <head>
    <title>eGift 管理画面</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "admins/application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "admins/application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body data-theme="coral-light" class="ab-bg-base">
    <main class="ab-flex ab-flex-justify-center ab-flex-items-center ab-min-h-screen">
      <%= yield %>
    </main>
  </body>
</html> 
