<!DOCTYPE html>
<html>
  <head>
    <title>eGift 管理画面</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body data-theme="coral-light" class="ab-bg-base">
    <%= render 'layouts/admins/sidebar' %>

    <main class="ab-flex ab-flex-column ab-px-10 ab-pt-6 ab-pb-2" style="margin-left: 300px;">
      <% if content_for?(:page_title) %>
        <h1 class="ab-text-headline-l ab-font-bold ab-mb-6">
          <%= yield(:page_title) %>
        </h1>
      <% end %>

      <% if content_for?(:page_actions) %>
        <div class="ab-flex ab-flex-justify-start ab-gap-1">
          <%= yield(:page_actions) %>
        </div>
      <% end %>

      <%= render 'layouts/admins/flash_message', errors: [] %>
      
      <%= yield %>
    </main>
  </body>
</html> 
