<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "eGifts販売サイト" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "egifts/application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "egifts/application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="egifts-app">
      <%= render 'egifts/shared/header' %>

      <main class="main-content">
        <%= yield %>
      </main>

      <%= render 'egifts/shared/footer' %>
    </div>
  </body>
</html> 
