<!DOCTYPE html>
<html>
  <head>
    <title><%= current_brand.name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "egifts/application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "egifts/application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <body data-theme="coral-light" class="ab-bg-base">
    <main class="ab-min-h-screen ab-py-8">
      <%= yield %>
    </main>
  </body>
</html>
